.CreateAccount{
    width: 90%;
    margin-inline: auto;
    display: flex;
    flex-direction: column;

        .content{
            display: grid;
            gap: 1rem;

            &_formNames{
                display: flex;
                gap: 1rem;

                label{
                    line-height: 1rem;
                }
            }

            &_formNumber{

                &__number{
                    display: flex;
                    align-items: center;
                    gap: 1rem;

                    &___flag{
                        height: 20px;
                        width: 35px;
                        border: 1px solid #D0D5DD;
                        border-radius: .5rem;
                        padding: .5rem;

                        img{
                            height: 100%;
                            width: 100%;
                        }
                    }

                    &___countrycode{
                        width: 100%;
                        margin: 0;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;

                        div{
                            width: 1%;
                            transform: translateX(1rem);
                            color: black;
                        }

                        input{
                            text-indent: 20%;
                        }
                    }

                }


            }

            &_formAgeGender{
                display: flex;
                align-items: center;
                gap: 1rem;

                div:nth-child(2) label{
                    font-size: .75rem;
                }

                &__gender{
                    display: flex;

                    & > div{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }

            &_documentImage{
                &__image___scan{
                    height: 10vh;
                    margin-block-start: .5rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid #D0D5DD;
                    border-radius: .5rem;
                }
            }

            &_password{
                &__validation{
                    margin-block-start: 1rem;
                    & > p {
                        display: flex;
                        align-items: center;
                        gap: .5rem;
                    }
                }
            }

            &_profilePicture{
                &__profile{
                    &___avatar{
                        display: flex;
                        align-items: flex-end;
                        height: 8vh;

                        img {
                            height: 40px;
                            width: 40px;
                        }
                    }
                }
            }

        }  

        .TimelineTwo{
            &_BankContent{
                margin-block: 1.5rem;
            }
            &_optional{
                margin-block: 1rem 3rem;

                select{
                    margin-block-end: 1rem;
                }
            }
        }

        .TimelineThree{
            &_fingerprints{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                transform: translateX(-5%);
                margin-block-start: 2rem;

                &__finger{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-start;

                    img{
                        height: 30px;
                        width: 30px;
                    }
                }

            }

            &_info{
                display: flex;
                gap: .5rem;
                color: rgb(169, 21, 21);

                img{
                    height: 15px;
                    width: 15px;
                }

                span{
                    font-size: .6rem;
                }
            }

            &_skip{
                width: 100%;
                display: flex;
                justify-content: flex-end;
                margin-block: 1rem;
                cursor: pointer;

                &__content{
                    width: fit-content;
                    display: flex;
                    align-items: center;
                    padding: .5rem 1rem;
                    border-radius: .5rem;
                    border: 1px solid #D0D5DD;
                }
            }
        }

        .TimelineFour{
            display: flex;
            max-width: 25rem;
            flex-direction: column;
            gap: 2rem;

            h3{
                margin: 0;
            }

            &_deletecrop{
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-weight: bolder;

                &__deletebtn{
                    width: fit-content;
                    padding-inline: 1rem;
                    background-color: transparent;
                    color: #000;
                }
            }

            &_coordinate{
                &__location{
                    display: flex;
                    gap: 1.2rem;
                }
            }

            &_croplists{
                width: 100%;
                display: grid;
                gap: 1rem;
                max-height: 50vh;
                overflow: auto;
            }

            &_crops{
                width: 90%;
                display: grid;
                background-color: #eee;
                border-radius: 1rem;
                padding: 1rem;
                gap: 2rem;

                &__duration{
                    display: flex;
                    gap: 1.2rem;
                }

                select{
                    text-indent: .3rem;
                    color: #5b5b5b;
                }
            }

            &_newcropbtn{
                width: fit-content;
                padding-inline: 1rem;
                color: #0D8A6A;
                font-weight: bold;
                background-color: #0d8a6b4d;
                border: 1px solid #0D8A6A;
            }

            &_farmDocument{
                &__document{
                    &___file{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        height: fit-content;
                        border: 1px solid #D0D5DD;
                        padding-block: 1rem;
                        border-radius: .5rem;
                        margin-block-start: .5rem;

                        img {
                            height: 40px;
                            width: 40px;
                            margin-block-end: 1rem;
                        }
                    }
                }
            }

            &_farms{
                max-height: 30vh;
                display: flex;
                gap: 1rem;
                overflow-x: scroll;

                & * {
                    margin: 0;
                    padding: 1.2px;
                }

                &__card{
                    height: 100%;
                    min-width: 270px;
                    width: 100%;
                    margin-inline: auto;
                    padding: .5rem;
                    border-radius: .5rem;
                    background-color: rgba(241, 186, 83, 0.02);
                    border: 1px solid rgb(241, 186, 83);
                    background-color: linear-gradient(0deg, #FEDF89, #FEDF89), linear-gradient(0deg, #FFFAEB, #FFFAEB);

                    & > div , & > hr {
                        margin: 0;
                        padding: 0;
                    }

                    h2{
                        font-size: .85rem;
                    }

                    h4{
                        font-weight: normal;
                        font-size: .7rem;
                        font-weight: 500;
                        text-transform: uppercase;
                    }

                    p{
                        font-weight: 600;
                    }

                    &___header{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                    }

                    &___content{
                        display: flex;
                        flex-direction: column;

                        .coordinate{
                            width: 60%;
                            display: flex;
                            align-items: center;
                            gap: 1rem;

                            p{
                                width: fit-content;
                                font-size: .65rem;
                                font-weight: bold;
                                text-align: center;
                                padding: .1rem .4rem;
                                border-radius: .5rem;
                            }

                            .longitude p{
                                background-color: #079455;
                                color:  #F6FEF9;
                            }

                            .latitude p{
                                background-color: #1570EF;
                                color: #EFF8FF;
                            }
                        }

                        &____crops{
                            font-size: .75rem;

                            .produced{
                                width: 70%;
                                
                                .crop{
                                    overflow: hidden;
                                    width: 100%;
                                }

                                .cropcard{
                                    width: auto;
                                    display: flex;
                                    gap: .3rem;
                                    overflow-x: scroll;
                                    padding: 0 .5rem .7rem;
                                }

                                .crop_card{
                                    border: 1px solid rgb(241, 186, 83);
                                    background-color: rgba(255, 220, 156, 0.15);
                                    padding: .2rem .5rem;
                                    border-radius: 1rem;
                                    font-size: .5rem;
                                }
                            }

                            .document{
                                width: auto;
                            }
                        }


                        img{
                            height: 10px;
                            width: 10px;
                            transform: translateY(5px);
                        }
                    }
                }
            }

            @media screen and (width < 950px) {
                min-width: 100%;
                max-width: 21rem;
            }
        }

        .Modal{
            &_content{
                display: flex;
                gap: 1rem;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                position: absolute;
                top: 50%;
                left: 50%;
                background-color: #fff;
                color: #000;
                border-radius: .5rem;
                padding: 1rem;
                height: 40%;
                width: 20%;
                transform: translate(-50%, -50%);

                &__logo{
                    height: 40px;
                    width: 40px;

                    img{
                        height: 100%;
                        width: 100%;
                    }
                }

                &__text{
                    line-height: .85rem;
                }

                &__btns{
                    display: grid;
                    width: 100%;
                    gap: 1rem;
                }

                @media screen and (width < 950px) {
                    width: 80%;
                }
            }
        }
}
 